<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Pratice</title>
    <link rel="stylesheet" href="css/index.css">
    <link href='http://cdn.webfont.youziku.com/webfonts/nomal/107255/46719/5a0adc8bf629d807007cbc20.css' rel='stylesheet' type='text/css' />
    <link href='http://cdn.webfont.youziku.com/webfonts/nomal/107255/45904/5a0add9ff629d807007cbc22.css' rel='stylesheet' type='text/css' />
    <link href='http://cdn.webfont.youziku.com/webfonts/nomal/107255/46714/5a0aecb4f629d807007cbc35.css' rel='stylesheet' type='text/css' />
</head>
<body>
    <div class="class-div-circleTable">
        <h1 class="csse5f96c9961a2f7">宁波各地区出租占比</h1>
        <div class="circleTable"></div>
    </div>
    <div class="class-div-columnTable">
        <h1 class="csse5f9afd451a2f7">宁波出租房面积占比</h1>
        <div class="columnTable"></div>
    </div>
    <div class="class-div-priceTable">
        <h1 class="csse5fd5ea2b1a2f7">宁波出租房租金比例</h1>
        <div class="priceTable"></div>
    </div>
    <script src="js/tableOptions.js"></script>
    <script src="js/lib/echarts.min.js"></script>
    <script src="js/util.js"></script>
    <script src="js/index.js"></script>
</body>
</html>