<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/banner.css">
    <link rel="stylesheet" href="css/index.css">
    <link href='http://cdn.webfont.youziku.com/webfonts/nomal/107255/46121/5a14d330f629d9124cd83298.css' rel='stylesheet' type='text/css' />
</head>
<body>
    <div class="div-class-main">
        <header>
            <span>问答</span>
            <a href="/">首页</a>
            <a href="/answered.html">已回答的问题</a>
            <a href="/noAnswered.html">未回答的问题</a>
            <button id="id-button-showAskDiv" type="button">提问</button>
        </header>
        <div class="class-div-questionList">
            <div class="class-div-questionItem">
                <p class="class-p-author"><span>提问者:</span>张三</p>
                <a href="/questionDetail" class="class-a-title">人为什么要吃饭?</a>
                <p class="class-p-content">问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述</p>
                <span class="class-span-createTime">1996/7/10</span>
                <span class="class-span-showAnswer">查看回答(5条)</span>
                <div class="class-div-answers">
                    <div class="class-div-answerNum">
                        <span class="class-span-answerNum">2 条回答</span>
                    </div>
                    <div class="class-div-answerItem">
                        <p class="class-p-aAuthor">用户名</p>
                        <p class="class-p-aContent">我是评我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论论</p>
                        <span class="class-span-aCreateTime">1996/7/10</span>
                    </div>
                    <div class="class-div-answerItem">
                        <p class="class-p-aAuthor">用户名</p>
                        <p class="class-p-aContent">我是评我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论论</p>
                        <span class="class-span-aCreateTime">1996/7/10</span>
                    </div>
                    <div class="class-div-answerItem">
                        <p class="class-p-aAuthor">用户名</p>
                        <p class="class-p-aContent">我是评我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论论</p>
                        <span class="class-span-aCreateTime">1996/7/10</span>
                    </div>
                </div>
            </div>
            <div class="class-div-questionItem">
                <p class="class-p-author"><span>提问者:</span>张三</p>
                <a href="#" class="class-a-title">人为什么要吃饭?</a>
                <p class="class-p-content">问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述</p>
                <span class="class-span-createTime">1996/7/10</span>
                <span class="class-span-showAnswer">查看回答(5条)</span>
                <div class="class-div-answers">
                    <div class="class-div-answerNum">
                        <span class="class-span-answerNum">2 条回答</span>
                    </div>
                    <div class="class-div-answerItem">
                        <p class="class-p-aAuthor">用户名</p>
                        <p class="class-p-aContent">我是评我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论论</p>
                        <span class="class-span-aCreateTime">1996/7/10</span>
                    </div>
                    <div class="class-div-answerItem">
                        <p class="class-p-aAuthor">用户名</p>
                        <p class="class-p-aContent">我是评我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论论</p>
                        <span class="class-span-aCreateTime">1996/7/10</span>
                    </div>
                    <div class="class-div-answerItem">
                        <p class="class-p-aAuthor">用户名</p>
                        <p class="class-p-aContent">我是评我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论论</p>
                        <span class="class-span-aCreateTime">1996/7/10</span>
                    </div>
                </div>
            </div>
            <div class="class-div-questionItem">
                <p class="class-p-author"><span>提问者:</span>张三</p>
                <a href="#" class="class-a-title">人为什么要吃饭?</a>
                <p class="class-p-content">问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述</p>
                <span class="class-span-createTime">1996/7/10</span>
                <span class="class-span-showAnswer">查看回答(5条)</span>
                <div class="class-div-answers">
                    <div class="class-div-answerNum">
                        <span class="class-span-answerNum">2 条回答</span>
                    </div>
                    <div class="class-div-answerItem">
                        <p class="class-p-aAuthor">用户名</p>
                        <p class="class-p-aContent">我是评我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论论</p>
                        <span class="class-span-aCreateTime">1996/7/10</span>
                    </div>
                    <div class="class-div-answerItem">
                        <p class="class-p-aAuthor">用户名</p>
                        <p class="class-p-aContent">我是评我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论论</p>
                        <span class="class-span-aCreateTime">1996/7/10</span>
                    </div>
                    <div class="class-div-answerItem">
                        <p class="class-p-aAuthor">用户名</p>
                        <p class="class-p-aContent">我是评我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论论</p>
                        <span class="class-span-aCreateTime">1996/7/10</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="class-div-mask"></div>
        <div class="class-div-askDiv">
            <div class="class-div-askDivTitle">
                <h2>写下你的问题</h2>
                <p>描述精确的问题更易得到解答</p>
            </div>
            <input id="id-input-qTitle" class="class-input-question" type="text" placeholder="问题标题">
            <input id="id-input-qAuthor" class="class-input-question" type="text" placeholder="提问者姓名">
            <input id="id-input-qContent" class="class-input-question" type="text" placeholder="问题内容">
            <button id="id-button-addQuestion">提交问题</button>
            <span id="id-span-closeAskDiv">x</span>
        </div>
        </div>
    </div>

    <script src="js/util.js"></script>
    <script src="js/askButton.js"></script>
    <script src="js/index.js"></script>
</body>
</html>